/*@import url(https://fonts.googleapis.com/css?family=Metrophobic);*/
@import "fonts.css";
body {
    font-family: 'Metrophobic', sans-serif;
}

/*Cover picture*/
.cover {
    position: relative;
}
.color_overlay {
    position: absolute;
    top: 0;
    min-width: 100%;
    height: 100%;
    background-color: rgba(34,37,51,0.4);
    margin-left: 0;
}

.color_overlay p {
    font-size: 15vw;
}

/*Our projects*/
.title {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-lg-12 h1 {
    position: relative;
    text-align: center;
    font-size: 2vw;
    font-family: "OpenSansLightItalic",sans-serif;
}
.col-lg-12 h1:after {
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    top: -20px;
    left: 30%;
    border:1px solid rgb(220,0,0);
}
.col-lg-12 h1:before {
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    bottom: -20px;
    left: 30%;
    border: 1px solid rgb(220,0,0);
}
