        /*@import url(https://fonts.googleapis.com/css?family=Metrophobic);*/
        @import "fonts.css";

        body {
            font-family: 'Metrophobic', sans-serif;
        }

        .container-fluid {
            position: relative;
        }
        /*Menu*/
        .navbar {
            position: absolute;
            top: 0;
            width: 100%;
            margin-bottom: 0;
        }
        /*Brand name*/
        .navbar .navbar-header a {
            margin-top: 9px;
            color: rgb(220,0,0);
            font-family: 'BebasNeueRegular', sans-serif;
            font-size: 2vw;
        }
        /*Ly span*/
        .navbar .navbar-header span {
            margin-top: 9px;
            color: rgb(220,0,0);
            font-family: 'BebasNeueBook', sans-serif;
            font-size: 85%;
        }
        /*List of menu*/
        .collapse ul {
            position: relative;
            left: 5%;
        }
        /*Elements of menu*/
        .navbar-nav li a{
            color: whitesmoke;
            padding: 15px 35px;
            font-size: 1vw;
            font-family: "OpenSans",sans-serif;
            background-color: transparent;
        }
        .navbar-nav li a:hover{
            background-color: transparent;
        }
        .navbar-nav li a:focus{
            background-color: transparent;
        }
        /*Button for menu*/
        .navbar-toggle {
            margin-top: 0;
        }

        @media screen and (max-width: 768px){
            .navbar {
                background-color: transparent;
                z-index: 1;
            }
            .navbar .navbar-header a {
                font-size: 4vw;
            }
            .navbar .navbar-header span {
                font-size: 85%;
            }
            .icon-bar {
                background-color: whitesmoke;
            }
            .navbar .navbar-header a {
                margin-top: 0;
            }
            .navbar-nav li a{
                color: whitesmoke;
                font-size: 2vw;
                padding: 15px 10px;
            }
        }

        @media screen and (max-width: 1270px){
            .collapse ul {
                position: relative;
                left: 0;
                transition: all ease 0.2s;
            }
        }
        /*Text on main cover image*/
        .spring {
            position: absolute;
            top: 32%;
            left: 26%;
            text-align: center;
            text-transform: uppercase;
            color: rgba(225,225,225,0.9);
            font-size: 1.4vw;
            letter-spacing: 0.4em;
            font-family: "OpenSansLight", sans-serif;
        }
        /*Discount text*/
        .discount {
            position:absolute;
            top: 39%;
            left: 10%;
            text-align: center;
            text-transform: uppercase;
            color: whitesmoke;
            font-size: 3.29vw;
            font-family: "LatoBlack", sans-serif;
        }
        /*Trending text*/
        .trend {
            position:absolute;
            top: 51%;
            left: 23%;
            text-align: center;
            text-transform: uppercase;
            color: whitesmoke;
            font-size: 1.67vw;
            font-family: "OpenSansLight", sans-serif;
        }
        /*Shop button*/
        .shop {
            position:absolute;
            top: 62%;
            left: 44%;
            text-align: left;
            text-transform: uppercase;
            color: whitesmoke;
            font-size: 1vw;
            font-family: "LatoBlack", sans-serif;
        }
        /*Shop button link*/
        .shop a {
            color: whitesmoke;
            padding: 1vw 3vw;
            border: 0.2vw solid whitesmoke;
            border-radius: 0.5vw;
            text-decoration: none;
        }
        .shop a:hover {
            background-color: whitesmoke;
            color: rgb(34,37,51);
        }
         /*Navigation button*/
         .circles {
             position: absolute;
             display: block;
             top: 94%;
             left: 46%;
             text-align: center;
        }
        .circles li {
            list-style: none;
            float: left;
            margin: 0 0.1vw;
        }
        .circles li a {
            display:block;
            width: 0.7vw;
            height: 0.7vw;
            background: whitesmoke;
            border-radius: 0.7vw;
            border: 1px solid whitesmoke;
        }
        .circles li a.active {
            background-color: #444;
        }
        @media screen and (max-width: 891px){
            .circles {
                left: 45%;
            }
        }
        @media screen and (max-width: 620px){
            .circles {
               left: 42%;
            }
        }
        /*Color overlay of blue color*/
        .color_overlay {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(34,37,51,0.4);
        }
        /*Latest products*/
        .title {
            margin: 3.5vw 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /*Latest product h1*/
        .col-xs-12 h1 {
            position: relative;
            text-align: center;
            font-size: 2vw;
            font-family: "OpenSansItalic",sans-serif;
        }
        /*Lines on top and bottom of text*/
        .col-xs-12 h1:after {
            content: '';
            display: block;
            position: absolute;
            width: 40%;
            top: -1.3vw;
            left: 30%;
            border: 1px solid rgb(220,0,0);
        }
        .col-xs-12 h1:before {
            content: '';
            display: block;
            position: absolute;
            width: 40%;
            bottom: -1.4vw;
            left: 30%;
            border: 1px solid rgb(220,0,0);
        }

        /*Latest product*/
        /*Columns of images of latest products*/
        .container  .row .col-xs-4 {
            position: relative;
            padding: 0;
        }
        .container .row .col-xs-4 img {
            width: 95%;
        }
        /*Color overlay on images*/
        .products .row .col-xs-4 .color_overlay2 {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95%;
            height: 100%;
            background-color: rgba(34,37,51,0.7);
            font-family: "OpenSansLightItalic", sans-serif;
            color: whitesmoke;
        }
        /*Men Woman and watches text*/
        .products .row .men .color_overlay2 h1 {
            font-size: 2vw;
            padding: 39% 34%;
            border: 3px solid whitesmoke;
        }
        .products .row .woman .color_overlay2 h1 {
            font-size: 2vw;
            padding: 39% 28%;
            border: 3px solid whitesmoke;
        }
        .products .row .watches .color_overlay2 h1 {
            font-size: 2vw;
            padding: 39% 28%;
            border: 3px solid whitesmoke;
        }

        /*Second row*/
        .second_row {
            margin-top: 2vw;
            margin-bottom: 3.3vw;
        }
        .container  .row .col-xs-6 {
            position: relative;
            padding: 0;
        }
        .container .row .col-xs-6 img {
            width: 95%;
        }
        .products .row .col-xs-6 .color_overlay2 {
              position: absolute;
              top: 0;
              left: 0;
              width: 95%;
              height: 100%;
              background-color: rgba(34,37,51,0.4);
              font-family: "LatoBlack", sans-serif;
              color: whitesmoke;
          }
        .products .row .col-xs-6 .off {
            background-color: rgba(34,37,51,0.7);
        }
        /*Text on images of second row*/
        .products .row .col-xs-6 .off p {
            position: relative;
            left: 25%;
            top: 27%;
            text-align: center;
            width: 52%;
            font-size: 2.7vw;
        }
        .products .row .col-xs-6 .mega p {
            position: relative;
            top: 27%;
            text-align: center;
            width: 100%;
            font-size: 2.7vw;
        }
        /*Lines on second row*/
        .products .row .col-xs-6 .off p:after{
            content: '';
            display: block;
            position: absolute;
            width: 70%;
            top: -0.5vw;
            left: 15%;
            border: 1px solid whitesmoke;
        }
        .products .row .col-xs-6 .off p:before {
            content: '';
            display: block;
            position: absolute;
            width: 70%;
            bottom: -0.5vw;
            left: 15%;
            border: 1px solid whitesmoke;
        }
        .products .row .col-xs-6 .mega p:after {
            content: '';
            display: block;
            position: absolute;
            width: 40%;
            top: -0.5vw;
            left: 30%;
            border: 1px solid whitesmoke;
        }
        .products .row .col-xs-6 .mega p:before {
            content: '';
            display: block;
            position: absolute;
            width: 40%;
            bottom: -0.5vw;
            left: 30%;
            border: 1px solid whitesmoke;
        }

        /*Trending items*/
        .bg-trending {
            opacity: 0.3;
        }

        .trending .row .title {
            position: absolute;
            top:0;
            margin-top: 3vw;
        }
        .trending .row .jacket-img {
             position: absolute;
             top: 22%;
             left: 19%;
             width: 30.675vw;
             height: 30vw;
         }

        .trending .row .jacket-img img {

            width: 30.675vw;
            height: 29.675vw;
        }

        .trending .row .description {
            position: absolute;
            top:  21%;
            right: 0;

        }
        .trending .row .description h3{
            font-family: "LatoBold", sans-serif;
            font-size: 1.5vw;
            color: rgb(220, 0, 0);
        }
        .trending .row .description h4{
            font-family: "OpenSans", sans-serif;
            font-size: 0.9vw;
            color: rgb(119, 119, 119);
        }

        .trending .row .description .classic{
            font-family: "LatoRegular", sans-serif;
            font-size: 1.2vw;
            width: 82%;
            letter-spacing: 0.122vw;
            color: rgb(119, 119, 119);
        }
        .trending .row .description .sizes {
            margin-top: 2vw;
            height: 2vw;
            padding-left: 0;
            font-size: 1vw;
        }
        .trending .row .description .sizes li{
            float: left;
            text-align: center;
            list-style: none;
            margin-right: 1.5vw;
            font-family: "OpenSansBold",sans-serif;
        }

        .trending .row .description .sizes li a{
            text-decoration: none;
            text-transform: uppercase;
            padding: 1vw 1.5vw;
            border: 0.1vw solid #515151;
            color: #515151;
        }

        .trending .row .description .sizes .selected a {
            background-color: #515151;
            color: whitesmoke;
            padding: 1vw 1.7vw;
            margin-right: 1.5vw;
        }

        .trending .row .description .sizes li a:hover{
            background-color: #515151;
            color: whitesmoke;
        }

        .trending .row .description .btns {
            margin-top: 3vw;
            height: 2vw;
            padding-left: 0;
            font-size: 1vw;
        }
        .trending .row .description .btns li{
            float: left;
            text-align: center;
            list-style: none;
            margin-right: 2.5vw;
            font-family: "OpenSansBold",sans-serif;
        }

        .trending .row .description .btns li a{
            text-decoration: none;
            text-transform: uppercase;
            padding: 1vw 2vw;
            border: 0.1vw solid #515151;
            color: #515151;
        }
        .trending .row .description .btns li a:hover{
            background-color: #515151;
            color: whitesmoke;
        }
        .trending .row .description .btns .size_guide{
            margin-left: 0.5em;
        }
        .trending .row .description .btns .size_guide a{
            padding: 1em 2.7em;
        }

        .trending_circles {
            position: absolute;
            display: block;
            top: 94%;
            left: 44%;
            text-align: center;
        }
        .trending_circles li {
            list-style: none;
            float: left;
            margin: 0 0.1vw;
        }
        .trending_circles li a {
            display:block;
            width: 0.9vw;
            height: 0.9vw;
            background: #515151;
            opacity: 0.54;
            border-radius: 0.7vw;
            border: 1px solid whitesmoke;
        }
        .trending_circles li a.active {
            border-color: rgb(220,0,0);
            background-color: white;
        }

